
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
<div id="content-list" class="text-center row">
   
</div>
<div id="main-content" class="w-75 mx-auto mt-5">
        <p style="line-height: 2em; font-size: 15pt;">Entradas, aperitivos incríveis, todo o tipo de saladas, massas, sopas, arroz, carnes peixes, confeitaria... Aqui, te surpreendemos com uma grande variedade de receitas de cozinha fáceis e ao mesmo tempo deliciosas, que o deixarão sem palavras. Poderá encontrar receitas saudáveis de várias cozinhas do mundo: brasileira, espanhola, portuguesa, mexicana, japonesa, peruana, italiana, etc.</p>
</div>
</div>


@section Scripts{
    <script>
        $(document).ready(()=>{
            $.ajax({
                url: '/banner',
                dataType: 'html',
                success: (response) =>{
                    $('#content-list').html(response)
                }
            });
        });
    </script>
}
