@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&family=Titillium+Web&display=swap');



body{
    background-color: #e9ecef;
    overflow-x: hidden;
}

.bg-customized {
    background-color: #f77f00;
}

/* #conteudo{
    width: 95vw;
    margin: 1em auto;
} */

#destaque img{
    height: 40em;
}

/*MAIN*/
main{
    display: block;
    width: 90vw;
    margin: 3em auto;
    margin-top: 10em;
    margin-bottom: 5em;
    box-sizing: border-box;
}

main .tipo-blues p{
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 2em;
}

main img.img{
    width: 300px;
    height: 300px;
}

main  img.img-esquerda{
    float: left;
    margin-left: 10em;
}

main img.img-direita{
    float: right;
    margin-right: 10em;
}

.texto-informativo{
    text-indent: 2em;
}

div.jumbotron{
    background-color: rgb(191, 191, 191);
}

main section.conteudo{
    border:  1px solid #111;
    box-shadow: 2px 1px 3px #111;
    background-color: #fff;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    box-sizing: border-box;
}

main h2{
    text-align: center;
    font-size: 25pt;
    background-color: #fcbf49;
    height: 4vw;
    padding-top: .2em;
    margin: 1em 3em;
    font-weight: bolder;
}

main .cantor h5{
    font-weight: 600;
}

main div.cantor{
    margin: auto auto;
    margin-top: 2em;
    width: 60vw;
}

main div.cantor:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

main img{
    width: 300px;
    height: 200px;
    padding-right: 1em;
    
}


/*FOOTER*/

footer{
    background-color: #fcbf49;
}
footer .img-footer{
    position: relative;
}

footer .img-footer figcaption{
    position: absolute;
    top: 4em;
    left: 2em;
}

footer div.copy{
    background-color: #f77f00;
}