@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">World Cup Qatar 2022</h1>
    <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/e/e3/2022_FIFA_World_Cup.svg/1200px-2022_FIFA_World_Cup.svg.png" class="w-25 h-25">
    <p class="mt-5">Quer ficar por dentro dos acontecimentos da Copa do Mundo 2022? Veio ao lugar certo !</p>
    <p>Aqui você encontrará a programação para a fase classificatória e os integrantes de cada grupo.</p>
</div>
