@using Devs2Blu.ReceitasProjetoMVC.Models.Receita
@model Recipe

<div class="row" id="content-list">
                 <div class="card text-white bg-success mb-3 mx-auto col-4 m-3" style="max-width: 18rem;">
              <div class="w-100">
                      <img src="@Model.Thumbnail_Url" width="150" height="300" class="card-image card-img-top mt-2 mb-1 img-custom">
              </div>
                  <div class="card-body">
                        <h5 class="text-white text-center mt-3">@Model.Name</h5>
              </div>
            </div>
</div>


