@{
    ViewData["Title"] = "Home Page";
}

<div class="row" id="content-list">
    
</div>
    

@section Scripts{
    <script>
        $(document).ready(() =>{
            getView('receitas','listrecipes', '#content-list');
        })
   </script>
}