@{
    ViewData["Title"] = "Home Page";
}

<h1 class="mb-3">World Cup 2022</h1>

<div class="row" id="lists-group">

</div>

@section Scripts{
    <script>
        $(document).ready(()=>{
           getView('groups', '#lists-group');

        })
        
   </script>
}
