@{
    ViewData["Title"] = "Home Page";
}

<h1>World Cup 2022</h1>

<div class="row" id="lists">

</div>

@section Scripts{
    <script>
        $(document).ready(() =>{
            getView('matches', '#lists');
        });
   </script>
}
