@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&family=Titillium+Web&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;   
    background-color: #f0e8e8;
}

/*HEADER*/
header.cabecalho {
    border-bottom: 2px solid #111;
    width: 100vw;
    height: 100px;
    padding: 0.5em;
    background-color: rgb(10, 151, 132);
}

.cabecalho figure {
    height: 80px;
    display: inline-flex;
    line-height: 100px;
}

.cabecalho figure {
    color: #fff;
}

.cabecalho figure img {
    width: 64px;
    height: 64px;
    line-height: 100px;
}

.cabecalho figure figcaption {
    margin-left: 1em;
    font-size: 14px;
}

/*MAIN*/
div.wrapper{
    display: block;
    width: 90vw;
    margin: 3em auto;
}

main{
    display: block;
    border:  1px solid #111;
    box-shadow: 2px 1px 3px #111;
    background-color: #fff;
}

article{
    width: 80vw;
    margin-left: 60px;
}

/*CABECALHO SECTION*/
.cabecalho-section{
    border-bottom: 2px solid #111;
    width: 88.6vw;
    height: 215px;
    padding: .5em;
}

.cabecalho-section figure{
    height: 300px;   
    display: inline-flex;
    line-height: 20px;
}
.cabecalho-section figure img {
    padding-top: .5em;
    padding-left: .5em;
    width: 150px;
    height: 200px;
    line-height: 100px;
}

.cabecalho-section figcaption{
    margin-top: 115px;
    margin-left: 1em;
    font-size: 14px;
}

.cabecalho-section h2{
    margin-bottom: 15px;
}

.cabecalho-section h4{
    font-weight: normal;
}

.cabecalho-section span{
    font-weight: bold;
}

/*CONTEUDO*/
div.conteudo{
    padding: .5em;
    text-align: justify;
    margin-top: 1em;
}

div.conteudo p{
    text-indent: 1.5em;
    margin-left: .5em;
    margin-right: .8em;
}

.cabecalho-article h2{
    background-color: rgb(104, 185, 174);
    margin-left: .5em;
    margin-right: .8em;
    margin-top: 0.5em;
}

/*LISTAS*/
li.titulo{
    text-decoration: underline;
    list-style: none;
    font-weight: bold;
    margin-top: .8em;
}

/*FOOTER*/
#credits{
    width:  100vw;
    text-align: center;
    font-size: 12px;
}

#credits a{
    font-style: italic;
    text-decoration: none;
}

#credits a:hover{
    text-decoration: underline;
}