
@{
    ViewData["Title"] = "Index";
}

<h1>Galeria</h1>
<div class="row">
<div class="card mx-auto my-auto" style="width: 18rem;">
  <img src="~/img/phoebebuffay.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text fst-italic fs-3">My eyes! My eyes!</p>
  </div>
</div>
<div class="card mx-auto my-auto" style="width: 18rem;">
  <img src="~/img/chandlerbing.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text fst-italic fs-5">Miss Chanandler Bong</p>
  </div>
</div>
<div class="card mx-auto my-auto" style="width: 18rem;">
  <img src="~/img/joeytribbiani.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text fst-italic fs-3">How you doing?</p>
  </div>
</div>
<div class="card mx-auto my-auto" style="width: 18rem;">
  <img src="~/img/rachelgreen.webp" width="250px" height="330px" alt="...">
  <div class="card-body">
    <p class="card-text fst-italic fs-4">Oh, salmon skin roll</p>
  </div>
</div>
<div class="card mx-auto my-auto" style="width: 18rem;">
  <img src="~/img/monicageller.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text fst-italic fs-3">I KNOW!</p>
  </div>
</div>
<div class="card mx-auto my-auto mt-3" style="width: 18rem;">
  <img src="~/img/rossgeller.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text fst-italic fs-3">PIVOT!</p>
  </div>
</div>
