@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>

<div class="bg-light p-3 w-75 mx-auto">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nome</label>
  <input type="text" class="form-control" id="exampleFormControlInput1">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput2" class="form-label">Endereço de E-mail</label>
  <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput3" class="form-label">Assunto da Mensagem</label>
  <input type="text" class="form-control" id="exampleFormControlInput3">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
</div>
