@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container mb-5">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/img/banner.jpg" class="d-block w-75 mx-auto" alt="Friends">
    </div>
  </div>
</div>
</div>

<div class="container w-75">
    <h1 class="text-center text-danger">Friends</h1>
    <p id="intro">Ross, Rachel, Mônica, Chandler, Joey e Phoebe formam um grupo de seis amigos que lutam para se sobressair e progredir na competitiva vida de Manhattan. Seu humor inteligente e apoio mútuo incondicional fazem com sua amizade seja cada vez mais forte, superando assim todos os obstáculos que a vida lhes apresenta. Trabalho, família, responsabilidade, dinheiro, sexo, compromisso e, sobretudo, amor e amizade, são alguns dos temas que preocupam e, ás vezes, divertem esses personagens. Não foi à toa que o sofá do Central Perk, o café onde se reúnem para conversar, foi trocado duas vezes por excesso de uso. Esta série foi filmada por dez temporadas, conquistando um sucesso após o outro. Sua trilha sonora promocional, "I'll Be There for You" (Rembrandts), é tão famosa quanto o programa, pois a sua mensagem e o refrão definem perfeitamente o significado da existência da série.</p>
    <h2>Curiosidades</h2>
    <div class="border border-secondary">
    <div class="card mb-3 mx-auto mt-3" style="width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="~/img/centralpark.jpg" style="width: 540px;" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Central Perk</h5>
        <p class="card-text">Inicialmente, o famoso Central Perk era para ser chamado de Insomnia Café.</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 mx-auto" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="~/img/matthew.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Matthew Perry</h5>
        <p class="card-text">Matthew Perry quase perdeu o papel por se dedicar à outra série na época. Porém o outro projeto nunca aconteceu. </p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 mx-auto" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="~/img/david.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">David Schwimmer</h5>
        <p class="card-text">Ross foi escrito especialmente para David Schwimmer.</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 mx-auto" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="~/img/warnerstudios.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Estúdios da Warner</h5>
        <p class="card-text">As cenas da fonte na abertura não foram gravadas no Central Park, como muitas pessoas pensam. Eram apenas os estúdios da Warner.  </p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 mx-auto" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="~/img/phoebe.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Phoebe Buffay</h5>
        <p class="card-text">Lisa Kudrow sempre odiou tocar violão, mas aprendeu o básico para interpretar Phoebe Buffay, que inclusive se tornou uma característica da personagem.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
