@font-face {
  font-family: 'rickandmorty';
  src: url('../../../assets/fonts/get_schwifty.ttf') format('truetype');
  font-size: 100em;
}


@font-face {
  font-family: 'harry';
  src: url('../../../assets/fonts/HARRYP__.TTF') format('truetype');
  font-size: 100em;
}

.font-size{
  font-size:xx-large;
}

.font-size-location{
  font-size: x-large;
}

.font-title{
  font-family: 'rickandmorty';
}
