div{
  background-image:url('https://cdn.vox-cdn.com/thumbor/emC70Nm9fsiSzlZeXcQ3ksVP9VM=/0x58:1912x1014/fit-in/1200x600/cdn.vox-cdn.com/uploads/chorus_asset/file/22737609/mortyplicity.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
